# Copyright (c) 2026 Scott King
# SPDX-License-Identifier: Apache-2.0

config CRC_DRIVER_WCH
	bool "WCH CRC driver"
	depends on DT_HAS_WCH_CH32_CRC_ENABLED
	help
	  Enable support for the WCH CRC driver.
